/* Resetando */
/* Estilização geral */
* {
    background-color: black;

}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}


/* Estilizando o header */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


.container {

    margin-inline: auto;
    padding-inline: 20px;
    max-width: 1200px;

}

.BarraNav {
    color: white;
    margin-inline: 20px;
}

#logo {
    color: rgb(5, 117, 192);
}

#buscar {
    width: 200px;
    padding: 10px 15px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 10px;
    background-color: #262e36;


}

/* Estilização condicional */
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-wrap: wrap;
        gap: 10px;
    }

    #buscar {
        width: 100%;
    }

    .abc {
        justify-content: center;
        flex-wrap: wrap;
    }
}


/* Estilizando a primeira secção */

.abc {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.letra {

    flex: 1 1 auto;
    height: 20px;
    padding-inline: 10px;
    padding-block: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 11px;
    background-color: #171818;
    text-align: center;
    color: white;


}

/* Estilizando a secção últimas novidades */
.last-new {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.last-update {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.episodios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodios h3 {

    margin-top: -4%;
}

.episodios p {

    margin-top: -7%;
}

.img {

    height: 130px;
    width: 170px;
    border-radius: 10px;
    display: block;


}


.bainner {
   
    filter: brightness(60%);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: start;
    position: relative;
    max-width: 100%;


}

.texto-bainner {
    background-color: rgba(255, 216, 216, 0);
    text-align: start;
    padding: 20px;
    color: white;
    margin-top: -2%;

}

.nada {
    background-color: rgba(255, 216, 216, 0);
    max-width: 50%;
}

#btn-VerMais {
    width: 200px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 15px;
    background-color: #262e36;
    color: white;
    margin-top: 5%;


}
.btn-VerMais{
    display: flex;
    justify-content: center;
}

#DireitosAutor{
    font-size: 10px;
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

